:root{
    --blue: blue;
    --head-color: #333;
    --search-color: #ccccff;
}

*{margin:0; padding:0;}

body{
    font-family: sans-serif, Arial, Helvetica;
    font-size: 100%;
}

header{
    width: 100%;
    font-size: 150%;
    padding: 3vh 0;
    text-align: center;
    background-color: var(--head-color);
    color: white;
}

aside{
    float: left;
    width: 28.5%; 
    background-color: var(--search-color);
    padding: 1vh 1vw;
    margin: 0;
}

aside h3{
    font-size: 140%;
    padding: 1vh 0;
}

#search-bar{
    display: flex;
    width: 70%; 
    padding: 1vh 0;
}

#search-bar input{
    width: 80%;
    border-radius: 5px 5px;
    font-size: 125%;
    padding: 1vh 1vw;
}

#search-btn{
    width: 20%;
    border-radius: 5px 5px;
    background-color: var(--blue);
}

#cities-btn{
    padding: 1vh 0;
}

.city-btn{
    width: 100%;
    padding: 2.9vh 2vw;
    background-color: white;
    border: 1px grey solid;
    border-radius: 5px 5px;
    text-align: left;
    font-size: 115%;
    display: none;
}

#city-info{
    float: right;
    width: 62%;
    border: 1px grey solid;
    border-radius: 5px 5px;
    padding: 3vh 2vw;
    margin: 3vh 2vw 3vh 0;
}

#city-name{
    padding: 2vh 0;
    font-size: 200%;
}

#temp{
    padding: 2vh 0;
}

#humid{
    padding: 2vh 0;
}

#wind{
    padding: 2vh 0;
}

#uv{
    padding: 2vh 0;
}

#forecast{
    float: right;
    width: 66%;
    margin: 3vh 2vw 3vh 0;
}

#title{
    width: 100%;
}

.day{
    float: left;
    width: 15%;
    border-radius: 5px 5px;
    background-color: blue;
    padding: 1vh 1vw;
    margin: 2vh 1vh;
    color: white;
}

.date{
    width: 100%;
    font-size: 150%;
    margin: 1vh 0;
}

.day img{
    width: 100%;
    padding: 3vh 0;
}

.day-temp{
    padding: 1vh 0;
    font-size: 130%;
}

.day-humid{
    padding: 1vh 0;
    font-size: 130%;
}