* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#homeBody {
    display: flex;
    flex-direction: column;
}

#homeData {
    display: flex;
}